.new-element {
    position: relative;
    background-color: #f3c2f6;
    width: 350px;
    max-width: 95%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    margin-left: 50px;
    cursor: pointer;
}
.new-element__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
}

.new-element__control label {
    font-weight: bold;
    display: block;
}

.new-element__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-element__actions button {
    font: inherit;
    cursor: pointer;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #2a5b84;
    background-color: #2a5b84;
    color: #fefae1;
    border-radius: 10px;
    
}

.new-element__actions button:hover,
.new-element__actions button:active {
    background-color: #2a5c84b2;
    border-color: #2a5c84b2;
}